/* ==========================================================================
Reset adapted from Twitter Bootstrap
https://github.com/twitter/bootstrap/
========================================================================== */
html, body {
  margin: 0;
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover,
a:active {
  outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* ==========================================================================
Typography adapted from Twitter Bootstrap
https://github.com/twitter/bootstrap/
========================================================================== */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

p {
  margin: 0 0 9px;
  font-size: 13px;
  line-height: 18px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: black;
  text-rendering: optimizelegibility; }

h1 {
  font-size: 30px;
  line-height: 36px; }

h2 {
  font-size: 24px;
  line-height: 36px; }

h3 {
  line-height: 27px;
  font-size: 18px; }

h4, h5, h6 {
  line-height: 18px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 11px;
  color: #1a1a1a;
  text-transform: uppercase; }

ul, ol {
  padding: 0;
  margin: 0 0 9px 25px; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  line-height: 18px; }

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none; }

hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #555555;
  border-bottom: 1px solid white; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

/* ==========================================================================
Styles
========================================================================== */
nav {
  background-image: -webkit-linear-gradient(top, #333333 0%, black 100%);
  background-image: -moz-linear-gradient(top, #333333 0%, black 100%);
  background-image: -ms-linear-gradient(top, #333333 0%, black 100%);
  background-image: -o-linear-gradient(top, #333333 0%, black 100%);
  background-image: linear-gradient(top, #333333 0%, black 100%);
  width: 100%; }
  nav ul {
    zoom: 1;
    list-style-type: none;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 2%;
    width: 100%; }
    nav ul:before, nav ul:after {
      content: "";
      display: table; }
    nav ul:after {
      clear: both; }
  nav li {
    float: left;
    border-left: 1px solid rgba(255, 255, 255, 0.1); }
  nav li:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.1); }
  nav a {
    background: url("../images/icons.png") no-repeat 2px 0px;
    color: white;
    display: block;
    line-height: 40px;
    height: 40px;
    text-decoration: none;
    opacity: 0.3;
    overflow: hidden;
    padding-left: 44px;
    width: 1px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    -moz-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    -ms-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    -o-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }
  nav a.two {
    background-position: 2px -41px; }
  nav a.three {
    background-position: 2px -83px; }
  nav a.four {
    background-position: 2px -124px; }
  nav a.five {
    background-position: 2px -165px; }
  nav a:hover {
    opacity: 1.0;
    width: 90px; }
